; always amends --ignore-scripts on npm installs
ignore-scripts=true
; do not tag on npm version
git-tag-version=false
; install the maintained Keycloak SSO styleguide fork from GitHub Packages
@rasolrosta296:registry=https://npm.pkg.github.com
